@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

html, body {
    display: table;
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Titre */

.intro .titre {
    text-align: center;
    background: #DD9933;
    color: #fff;
    padding: 20px;
    font-size: 40px;
    font-weight: 600;
}

.intro .textun {
    background: #B5B5B5;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    font-weight: 300;
}

.intro .textunlienp {
    margin-top: -45px;
    float: right;
    margin-right: 5px;
    font-size: 20px;
    font-weight: 300;
}

.intro .textunlien {
    text-decoration: none;
    background: #999;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.intro .textunlien:hover {
    background: #DD9933;
}

/* Contenue de la page */

/* beta.html */
/* .contenu .compterenduepdfp {
    margin: 20px;
}

.contenu .compterenduepdf {
    text-decoration: none;
    background: #DD9933;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.contenu .compterenduepdf:hover {
    opacity: 0.7;
}

.contenu .embedpdfun {
    width: 100%;
    height: 650px;
} */

.contenu .section {
    margin: 30px 0 20px 40px;
}

.contenu .section .titre {
    font-weight: 500;
    font-size: 40px;
}

.contenu .section hr {
    border: 3px solid #DD9933;
    border-radius: 100px;
    width: 500px;
}

.contenu .section p {
    margin: 35px 0 0 30px;
    font-size: 21px;
    line-height: 40px;
}

.contenu .section p span{
    margin-left: 60px;
}

.contenu .section p a {
    text-decoration: none;
    color: #DD9933;
    font-weight: 500;
}

.contenu .section p a:hover {
    text-decoration: underline;
}

/* info.html */



/* Fin de page */

footer {
    display: table-row;
    height: 1px;
}

footer .footer-content {
    background: #545454;
    border-radius: 100px;
    text-align: center;
    width: 700px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}

footer .footer-content h2 {
    color: #eee;
    padding: 20px;
    font-size: 17px;
    font-weight: 400;
}